# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Caches
*.pyc
__pycache__/

# Virtual environment
venv/
env/
ENV/

# IDE settings
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3
*.db

# Environment variables
.env

# images
.jpg
.png
.gif
